<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Item</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar('Update Item')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Stok Item</h2>
                <br>
                <form th:action="@{/item/update}" th:object="${produksi}" method="POST">
                    UUID Item : <br>
                    <p th:text="*{idItem}"></p>
                    <input type="hidden" th:field="*{idItem}" />
                    <br>

                    ID Kategori : <br>
                    <p th:text="*{id_kategori}"></p>
                    <input type="hidden" th:field="*{id_kategori}" />
                    <br>

                    Tanggal Produksi: <br>
                    <p th:text="*{tanggal_produksi}"></p>
                    <input type="hidden" th:field="*{tanggal_produksi}" />

                    ID Pegawai: <br>
                    <p th:text="*{pegawai.id_pegawai}"></p>
                    <input type="hidden" th:field="*{pegawai}" />
                    <input type="hidden" th:field="*{requestUpdateItem}" />
                    <br>
                    Tambahan Stok : <br>
                    <input required class="form-control" type="number" name="tambahan_stok"/>
                    <br>
                    <label>ID Mesin</label>
                    <select required name="mesin" class="form-control">
                        <option selected value="">--Pilih Mesin--</option>
                        <option th:each="mesin: ${listMesin}"
                                th:value="${mesin.id_mesin}"
                                th:text="${mesin.nama}">
                        </option>
                    </select>
                    <br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/item/viewall">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>