<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Add Pegawai </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
    

<body>
<nav th:replace="fragments/fragment :: navbar('Pegawai')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Pegawai Baru</h2>
                <br>
                <form th:action="@{/pegawai/add}" th:object="${pegawai}" method="POST">
                    <label>username</label>
                    <input required type="text" name="username" class="form-control"/>
                    
                    <label>Nama</label>
                    <input required type="text" name="nama" class="form-control"/>
                    
                    <label>Email</label>
                    <input required type="email" name="email" class="form-control"/>
                    
                    <Label>Password</Label>
                    <input required type="password" name="password" class="form-control"/>

                    <label>Tanggal Lahir</label>
                    <input required type="date" name="tanggal_lahir" class="form-control"/>
                    
                    <input type="hidden" name="counter" value="0" class="form-control"/>
                    <label>Role</label>
                    <select required name="role" class="form-control">
                        <option selected value="">--Pilih Role--</option>
                        <option th:each="role: ${listRole}"
                                th:value="${role.id_role}"
                                th:text="${role.namaRole}">
                        </option>
                    </select>
                    <br>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-link" href="/">Home</a>
                </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

</body>

</html>