<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Produksi</title>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Produksi')"></nav>
    <div class="container">
        <h2>Daftar Seluruh Produksi</h2>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID Produksi</th>
                        <th>ID Item</th>
                        <th>Kategori</th>
                        <th>Nama Mesin</th>
                        <th>Nama Pegawai</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produksi, iterationStatus : ${listProduksi}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${produksi.id_produksi}"></td>
                        <td th:text="${produksi.idItem}"></td>
                        <td th:text="${produksi.id_kategori}"></td>
                        <td th:text="${produksi.mesin.nama}"></td>
                        <td th:text="${produksi.pegawai.nama}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="/">Home</a>
    </div>
</body>

</html>