<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <title>Request Update Item</title>
  <meta charset="UTF-8">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Item')"></nav>
<div class="container">
    <br>
    
    <h2>Daftar Seluruh Item</h2>
    <div>
        
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>ID Item</th>
                <th>Nama</th>
                <th>Harga</th>
                <th>Stok</th>
                <th>Kategori</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iterationStatus : ${listItem}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${item.uuid}"></td>
                <td th:text="${item.nama}"></td>
                <td th:text="${item.harga}"></td>
                <td th:text="${item.stok}"></td>
                <td th:text="${item.kategori}"></td>
                <td>
                    <a sec:authorize="hasAuthority('STAFF_GUDANG')" class="btn btn-primary" th:href="@{/item/update/} + ${item.uuid}">Update</a>
                    <a class="btn btn-primary" th:href="@{/item/detail/} + ${item.uuid}">Detail</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div> 

    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>

</html>